.embed-container {
    flex: 5;
    display: flex;
    justify-content: center;
}

.embed {
    width: 700px;
    height: 650px;
}

.loading {
    font-family: 'Press Start 2P', cursive;
    font-size: large;
    color: white;
}

.back {
    position: absolute;
    top: 20px;
    left: 20px;
}

.playlist-container {
    height: 80%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.text {
    vertical-align: middle;
    align-self: center;
    white-space: nowrap;
    flex: 1;
    width: 483px;
    height: 111px;
    background: linear-gradient(180deg,rgba(255, 255, 255, 0.9) 0%,rgba(255, 255, 255, 1) 25%,rgba(255, 255, 255, 0.8) 60%,rgba(255, 255, 255, 0.3) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    flex-shrink: 0;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}